body{  
    margin: 0 auto;
    padding: 0s auto;
    margin-left: 20%;
    margin-right: 20%;
}

nav{   
    display: flex;
    
}

nav a{ 
    text-decoration: none;
}

li:hover{
    background-color: darkorange;
    width: 100px;
    height: 20px;
}

nav ul{
    display: flex;
    align-items: center;
    text-align: center;
    
}

nav li{
    list-style: none;
    width: 100px;
    height: 20px;
    background-color: orange;
    border: solid 1px black;
}

.main{
    display: flex;
}

.mainFooter{
    display: flex;
    align-items: center;
}

.arrow{
    margin-left: 80%;
    width: 25px;
    height: 25px;
    background: url(bg-direction-nav.png) no-repeat;
    background-position: -6px -6px;
    list-style: none;
}

.arrow--forward{
    
    width: 25px;
    height: 25px;
    background: url(bg-direction-nav.png) no-repeat;
    background-position: -55px -6px;
    list-style: none;
}

.mainRight{
    padding-left: 9%;
}
.icons{
    width: 100%;
}

.contact-dark{
    background-color: black;
    width: auto;
    height: 500px;
}

.contact-dark h3{
    color: white;
}

.contact-dark p{
    color: white;
}

.contact-dark input, textarea{
    background-color: darkgray;
    width: 200px;
}



