body{
    margin:auto;
    padding:auto;
    display: flex;
    flex-direction: column;
    -ms-flex-align: center;margin-left: 40%;
    border-color: black; 
    border: 1px;
}

.header{
background-color: yellow;
height: 100px;
width: 300px;
}

main{
    background-color: black;
    width: 300px;
}
h1 {
    margin: 0;
}
h2 {
    margin: 0;
}
#btn1, #btn2{  
    background-color: yellow;
}

#btn3, #btn4{
    background-color: black;
    color: white;
}
#border{
    background-color: brown;
    height: 30px;
    width: 300px;
    
}

.head{
    background-color: yellow;
    height: 100px;
    width: 300px;
}

/* Alt efter her er bem */

.section{
    background-color: black;
    width: 300px;
}
.title{
    color: white;
}
.text{ 
    color: white;
}

.btn{
    background-color: yellow;
}

.section--color{
    background-color: white;
}

.title--color{
    color:black;
}
.text--color{
    color: black;
}

.btn--color{
    background-color: black;
    color: white;
}