body{
    margin:auto;
    padding:auto;
    display: flex;
    flex-direction: column;
    -ms-flex-align: center;margin-left: 40%;
    border-color: black; 
    border: 1px;
}

.header{
background-color: yellow;
height: 100px;
width: 300px;
}

main{
    background-color: black;
    width: 300px;
}
h1 {
    margin: 0;
}
h2 {
    margin: 0;
}
#btn1, #btn2{  
    background-color: yellow;
}

#btn3, #btn4{
    background-color: black;
    color: white;
}